@font-face {
    font-family: 'HanyiSentyTang';
    src: url('HanyiSentyTang.eot');
    src: url('HanyiSentyTang.eot?#iefix') format('embedded-opentype'),
        url('HanyiSentyTang.woff2') format('woff2'),
        url('HanyiSentyTang.woff') format('woff'),
        url('HanyiSentyTang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

